{
	"extends": "stylelint-config-htmlacademy",

	"rules": {
		"color-named": "always-where-possible",
		"declaration-no-important": true,
		"indentation": ["tab", {"ignore": ["inside-parens"]}],
		"string-quotes": "single"
	}
}
